<h1>Edit User Form</h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @user, url: {action: "update"} do |f| %>
  <%= f.label :username, "Enter Username" %>
  <%= f.text_field :username, placeholder: "username here" %>
  <%= f.label :email, "Enter email" %>
  <%= f.email_field :email, placeholder: "email here" %>
  <%= f.label :password, "Secret" %>
  <%= f.password_field :password, placeholder: "password here"  %>
  <%= f.submit "Create User" %>
<% end %>
