<h1>New User Form</h1>

<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>

<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label :username, "Enter Username" %>
  <%= f.text_field :username, placeholder: "username here" %>
  <%= f.label :email, "Enter email" %>
  <%= f.email_field :email, placeholder: "email here" %>
  <%= f.label :password, "Secret" %>
  <%= f.password_field :password, placeholder: "password here"  %>
  <%= f.submit "Create User" %>
<% end %>

<!--

<%= form_tag("/users") do %>
  <%= label_tag(:username) %>
  <%= text_field(:user, :username) %>

  <%= label_tag(:email) %>
  <%= email_field(:user, :email) %>

  <%= label_tag(:password) %>
  <%= password_field(:user, :password) %>

  <%= submit_tag("Create user") %>
<% end %>

<form method="post" action="/users">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  
  <label for="user_username">Username </label>
  <input id="user_username" name="user[username]" type="text" />
  
  <label for="user_email">Email </label>
  <input id="user_email" name="user[email]" type="email" />
  
  <label for="user_password">Password </label>
  <input id="user_password" name="user[password]" type="password" />
  
  <input name="commit" type="submit" value="Create User" />
</form>

-->