<h1>New User Form</h1>

<%= form_tag("/users") do %>
  <%= label_tag(:username) %>
  <%= text_field(:user, :username) %>

  <%= label_tag(:email) %>
  <%= email_field(:user, :email) %>

  <%= label_tag(:password) %>
  <%= password_field(:user, :password) %>

  <%= submit_tag("Create user") %>
<% end %>